# systemd service for managing all backup routeros timers.

[Unit]
Description=Backup RouterOS Weekly Timer - %i

[Timer]
OnCalendar=Sun *-*-* 01:00:00
Persistent=true
Unit=backup-routeros@%i.service

[Install]
WantedBy=timers.target

