# systemd service for managing all backup routeros timers.

[Unit]
Description=Backup RouterOS Timers Autodiscovery

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/libexec/device-timer/backup-routeros start
ExecReload=/bin/bash /usr/libexec/device-timer/backup-routeros reload
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

