# systemd service for managing all backup rsync timers.

[Unit]
Description=Backup Rsync Monthly Timer - %i

[Timer]
OnCalendar=* *-*-01 01:00:00
Persistent=true
RandomizedDelaySec=14400
FixedRandomDelay=true
Unit=backup-rsync@%i.service

[Install]
WantedBy=timers.target

